.icon_gradient_background {
  background-image: linear-gradient(#121420, #2b294b);
}

.glow {
  box-shadow: #353757 0 0 90px 33px;
}

.extra_glow {
  box-shadow: #353757 0 0 120px 73px;
}
.gradient_background {
  background-image: linear-gradient(to left, #121420, #2b294b);
}
